@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.mine-count-1 {
	color: blue;
	font-weight: bold;
	font-size: 1.5em;
}
.mine-count-2 {
	color: green;
	font-weight: bold;
	font-size: 1.5em;
}
.mine-count-3 {
	color: red;
	font-weight: bold;
	font-size: 1.5em;
}
.mine-count-4 {
	color: purple;
	font-weight: bold;
	font-size: 1.5em;
}
.mine-count-5 {
	color: orange;
	font-weight: bold;
	font-size: 1.5em;
}
.mine-count-6 {
	color: pink;
	font-weight: bold;
	font-size: 1.5em;
}
.mine-count-7 {
	color: brown;
	font-weight: bold;
	font-size: 1.5em;
}
.mine-count-8 {
	color: gray;
	font-weight: bold;
	font-size: 1.5em;
}
